# OS files
.DS_Store

# Patcher
xmir-patcher

# Temporary files
tmp/**
!tmp/.gitkeep

# Backups
backup/**
backups/**

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
.eggs/
*.egg-info/
*.egg
dist/
build/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Secrets
.env
inventory/hosts.yml
